*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}
body{
  background: rgba(137, 41, 255)

}
a{
  text-decoration: none;
}
.hamburger{
  position: fixed;
  top: 2rem;
  right: 3rem;
  padding: .5rem;
  cursor: pointer;
  z-index: 2000;
}
.hamburger i{
  font-size: 3rem;
  background: linear-gradient(to right, #2af598 0%, #009efd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-times{
  display: none!important;
}
header::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translate(-100%, -100%);
  opacity: 0;
  z-index: 999;
  transition: opacity .6s, transform .2s .6s;
}
.sidebar{
  background-color: #1f253d;
  position: fixed;
  top: 0;
  left: 0;
  width: 30rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.3rem;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.nav-list{
  list-style: none;
}
.nav-item{
  position: relative;
  text-align: left;
}
.nav-item::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: +25px;
  background: linear-gradient(to right, #2af598 0%, #009efd 100%);
}
.nav-link{
  display: block;
  font-size: 1.7rem;
  color:rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  line-height: 12rem;
  letter-spacing: 4px;
  transition: color .6s;
}
.nav-link:hover{
  color: rgba(255, 255, 255, 0.8);
}
.nav-link.current{
  color: #fff;
}
.nav-link i{
  font-size: 2.5rem;
  margin-right: 1rem;
  color: #eee;
}
.social-media{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.icon-link{
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  display: flex;
  transition: background-color .6s;
}
.icon-link:hover{
  background-color: rgba(0, 0, 0, 0.3);
}
.icon-link i{
  margin: auto;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.4);
  transition: color .6s;
}
.icon-link i{
  color: rgba(255, 255, 255, 0.8);
}
main{
  perspective: 100rem;
}
.zoom-content{
  transform-style: preserve-3d;
  transition: transform .6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
section{
  width: 100%;
  height: 100vh;
  background-color: #1f253d;
}
.active .fa-times{
  display: block!important;
}
.active .fa-bars{
  display: none!important;
}
header.active::before{
  transform: translate(0,0);
  opacity: 0.6;
  transition: opacity .6s;
}

.active .sidebar{
  transform: translateX(0);
}
.active .zoom-content{
  transform: translate3d(0, 0, -25rem);
}
@media screen and (max-width: 600px) {
  .nav-link{
    line-height: 8rem;
    margin: 10rem auto;
    font-size: 2.1rem;
  }
  .nav-item{
    margin: 0 4rem;
    text-align: center;
    letter-spacing: 6px;
    background: linear-gradient(to top, #2af598 0%, #009efd 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }
  .hamburger{
    top: 1.5rem;
    right: 1.5rem;
  }
  .sidebar{
    width: 100%;
  }
  .nav-item::before{
    height: 4px;
    bottom: +15px;
  }
}
























































/*--------------https://youtu.be/zhrqSKKCOwk?t=1646-----------end--------------------------------*/
